.banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg); 
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner form h2{
    color: white;
    font-weight: 100;
    font-size: 3rem;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.craving div p{
    text-align: center;
    
}

.noborder{
    border: none;
}

.rest-cap{
    font-size: 2rem;
}

.about{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg); 
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    height: 50vh;
    
    margin-bottom: 40px;
    color: white;
}
div.about_us h2{
    color: white;
    font-weight: 100;
    font-size: 3rem;
    position: absolute;
    top: 600%;
    left: 50%;  
    transform: translate(-50%,-50%);
}

span.banner-text{
    position: absolute;
    top: 1600%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.b-top{
    border-top: none;
}

.upload-photo{
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .restaurant_banner{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg); 
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: -20px;
    color: white;
}

.this{
    position: absolute;
    bottom: 25%;
    left: 10%;
}


/*  */
/*  */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
visibility: hidden; /* Hidden by default. Visible on click */
min-width: 250px; /* Set a default minimum width */
margin-left: -125px; /* Divide value of min-width by 2 */
background-color: #333; /* Black background color */
color: #fff; /* White text color */
text-align: center; /* Centered text */
border-radius: 2px; /* Rounded borders */
padding: 16px; /* Padding */
position: fixed; /* Sit on top of the screen */
z-index: 1; /* Add a z-index if needed */
left: 50%; /* Center the snackbar */
bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}


/*  */
/*  */